body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.player {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  border: 1px solid red;
  height: 100%;
}

.game {
  display: grid;
  grid-template: 1fr 1fr 3fr/ 1fr;
  width: 95vw;
  height: 95vh;
  margin: auto;
  border: 1px solid purple;
}

.tablink {
  background-color: darkgray;
  color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  width: 25%;
  border: none;
  display: block;
}

.tablink:hover {
  background-color: slategrey;
}

.tab {
  color: white;
  display: none;
  padding: 3px;
  height: 100%;
}

#dice {
  background-color: darkseagreen;
  max-height: 100%;
}

#machineinv {
  background-color: grey;
}

#cups {
  background-color: lightblue;
}

.store {
  border: 1px solid green;
}

.inventory {
  border: 1px solid blue;
}

.buffer {
  background-color: white;
  width: 25%;
  float: left;
  padding: 4px 16px;
  outline: none;
  border: none;
}

.hand {
  border-right: 2px double darkgrey;
  padding: 3px;
}

.machines {
  padding: 3px
}

#dicestore {
  background-color: darkseagreen;
}

#machineinvstore {
  background-color: grey;
}

#cupsstore {
  background-color: lightblue;
}

.die {
  margin: 1px;
  width: 10%;
  display: inline-block;
}

.buttons {
  display: block;
}
